.fixed {
  position: fixed;
  background: rgb(45, 100, 136);
}

.postion :nth-child(2) {
  background: rgb(201, 209, 125);
}

.postion :nth-child(3) {
  background: rgb(118, 119, 118);
  position: relative;
  top: 70px;
}

.postion :nth-child(4) {
  background: rgb(105, 175, 221);
  position: absolute;
  top: 70px;
}

.space {
  height: 900px;
}

.relative {
  border: 1px rgb(45, 100, 136) solid;
  position: relative;
}

.relative :nth-child(1) {
  position: absolute;
  top: 50px;
}
